.absolute-text {
  color: #fff;
 */
}
}



.section-padding{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-bg {
  position: absolute;
  background-image: url(../images/fvf.gif);
  top: 0;
  left: 0;
  height: 100%;
  width: 58%;
  background-size:cover;
}
.section-bg:after{
  position:absolute;
  width:100%;
  height:100%;
  content:"";
  background:aqua;
  opacity:.5;
}


.contact-form input, .contact-form textarea{
  width:100%;
  padding:12px;
  margin-bottom: 30px;
}
.contact-form input[type="submit"] {
  width: auto;
  top:0px;
  padding: 15px 30px;
  color:#199AC2;
  font-weight: 700;
}

.appoinmet-text{
  padding-left: 100px;
}
.appoinmet-text ul{
    margin-left:-40px;
}

.appoinmet-text ul li{
  list-style: none;
  margin-left:0px;
}
.appoinmet-text ul li i {
  margin-right: 10px;
  font-size: 18px;
  color: #59E5F4;
}
.btn{
  color:#fff;
  background-color:#59E5F4 /* Change hoy na kan ..........Janina evar hobe ki na............hoiche mane .....abar jigay*/ 
}
